.example-appear {
  opacity: 0.01;
  width: 0;
}

.example-appear.example-appear-active {
  opacity: 1;
  width: 100%;
  transition: all 1s linear;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1300ms linear;
}
