@import './../../scss/common/variable.scss';

.skype, .telegram {
	overflow: hidden;
	border-bottom: solid 1px black;
	h2 {
		padding-left: 10px;
		font: {
			weight: bold;
			style: italic;
			size: 2em;
		}
		color: blue;
		span {
			display: inline-block;
			padding: 0 7px;
			animation: rotat;
			animation-duration: 3s;
		}
	}
	h4 {
		position: relative;
		height: 20px;
		font: {
			weight: bold;
			style: italic;
		}
		span {
			position: absolute;
			display: inline-block;
			font-size: 1.3em;
		}
		
	}
}
.skype {
	&__title {
		span {
			animation: left;
			animation-duration: 3s;
			@for $i from 1 through  15 {
				&:nth-of-type(#{$i}) {
					@if( $i <= 4 ) {
						left: $step * $i;
					} @else if($i > 4 ) {
						left: $step * $i - 5;
					}
					animation-delay: 100ms * $i;
				}
			}
		}
	}
}
.telegram {
	&__title {
		span {
			animation: left;
			animation-duration: 3s;
			@for $i from 1 through  7 {
				&:nth-of-type(#{$i}) {
          /*@if( $i <= 6 ) {
          	left: $step * $i;
          } @else if ($i > 6 and $i <= 9){
          	left: $step * $i + 10;
          } @else if ($i > 9) {
          	left: $step * $i + 20;
          }*/
          @if( $i <= 2 ) {
						left: $step * $i;
					} @else if($i > 2 ) {
						left: $step * $i - 8;
					}
					animation-delay: 100ms * $i;
				}
			}
		}
	}
}

@keyframes rotat {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}
@keyframes left {
	from {left: 100%}
	to {left: 0px}
}
