@import './../../scss/common/variable.scss';
@import './../../scss/common/mixins.scss';

header {
	height: $gl_h;
	padding: $gl_pt $gl_pl;
	color: #fff;
	background: $gl_bg;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-logo {
		font-size: 38px
	}
	&-prof{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__img {
			width: 100px;
			margin-right: 20px;
		}
	}
	@media ($media_mid) {
		align-items: flex-start;
		.header-logo {
			font-size: 24px;
		}
		.header-prof__img {
			width: 70px;
		}
	}
}

