@import './../../scss/common/variable.scss';

.sort {
	display: flex;
	justify-content: space-between;
	padding: 10px 0 30px;
	.dropdown-menu {
		min-width: 100%;
	}
	@media ($media_mob) {
		justify-content: center;
		flex-direction: column;
		.btn-group {
			margin: 0 auto 10px;
			button {
				width: 250px;
			}
		}
	}
}